  <tr>
    <td><a href="#" onClick="updateFunFact('this.funFactID')">Edit</a></td>
    <td><a href="#" onclick="deleteFunFact('this.funFact')">Delete</a></td>  <!-- doesn't work because in a seperate file? -->
    <td align="right" >{{funFactID}}</td>
    <td >{{funFact}}</td>
  </tr>