  <tr>
    <td><a href="#" onClick="updatePlanet('this.planetID')">Edit</a></td>
    <td><a href="#" onclick="deletePlanet('this.planet')">Delete</a></td>  <!-- doesn't work because in a seperate file? -->
    <td align="right" >{{planetID}}</td>
    <td >{{forSale}}</td>
    <td align="right" >{{planetName}}</td>
    <td>{{sid}}</td>
  </tr>