  <tr>
    <td><a href="#" onClick="updateSale('this.saleID')">Edit</a></td>
    <td><a href="#" onclick="deleteSale('this.sale')">Delete</a></td>  <!-- doesn't work because in a seperate file? -->
    <td align="right" >{{saleID}}</td>
    <td >{{date}}</td>
    <td align="right" >{{price}}</td>
    <td>{{cid}}</td>
  </tr>