<!DOCTYPE html>

<html>
	<body text="#ffffff" link="#39719e" vlink="#39719e" alink="#39719e">

	<center>
		<head>
				<h1>Starlight Database</h1>
				<p>http://flip3.engr.oregonstate.edu:8320/</p>
				
				<h2>[ <a href="/">Home</a> | <a href="/clients">Clients</a> | <a href="/sales">Sales</a> 
				| <a href="/planets">Planets</a> | <a href="/information\">Information</a> 
				| <a href="/funfacts">Fun Facts</a> ]</h3>
				

				<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
				<script src="/homePage.js"></script>
		</head>
	</center>

	<body>
		{{{body}}}
	</body>

	<style>
		body {
			background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
		}
	</style>

</html>