<!DOCTYPE html>

<html>
	<head>
		<h1>Starlight Database</h1>
		<p>http://flip3.engr.oregonstate.edu:8320/</p>
		[ <a href="/">Home</a> | <a href="/clients">Clients</a> | <a href="/sales">Sales</a> 
		| <a href="/planets">Planets</a> | <a href="/information\">Information</a> 
		| <a href="/funfacts">Fun Facts</a> ]

		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<script src="/homePage.js"></script>
	</head>

	<body>

		{{{body}}}

	</body>
</html>