{{!-- All work is my own --}}

<!DOCTYPE html>

<html>
	<center>
		<head>
				<meta charset="utf-8">

				<h1>Starlight Database</h1>
				<h2>[ <a href="/">Home</a> | <a href="/clients">Clients</a> | <a href="/sales">Sales</a> 
				| <a href="/planets">Planets</a> | <a href="/information\">Information</a> 
				| <a href="/funfacts">Fun Facts</a> ]</h3>

				<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
				<script src="/index.js"></script>

				<link rel="stylesheet" href="./css/styles.css">
		</head>
	</center>

	<body>
		{{{body}}}
	</body>


</html>