/*****************************************************
* citation scope: Folks Talk
* date: 12/04/2022
* originality: based
* source: https://www.folkstalk.com/tech/html-table-cell-full-width-with-code-examples/
******************************************************/

body {
	background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
	color: #D4AF37;
	font-size: 20px;
}


/* Styles used for tables */
a:link {
	color: #D4AF37;
}
  
a:visited {
	color: #D4AF37;
}

a:active {
	color: white;
}


/* Styles used for tables */
table {
    width: 100%;
	margin: 0 2% 5% 0;
	border-collapse: collapse;
	background-color: black;
	font-size: 25px;
	color: #D4AF37;
	float: left;
}


td {
	border-color: #ffffff;
	border: 3px solid;
    text-align: center;
	padding: 1.5%;
}


tr:hover {background-color: white;}