body {
	background-image: url('https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
	color: #D4AF37;
	font-size: 20px;
}


/* Styles used for links / headers */
a:link {
	color: #D4AF37;
}
  
a:visited {
	color: #D4AF37;
}

a:active {
	color: white;
}


/* Styles used for tables */
table {
	float: left;
	margin: 0 2% 5% 0;
	border-collapse: collapse;
	font-size: 25px;
    width: 100%;
	color: #D4AF37;
	background-color: black;
}


td {
	padding: 1.5%;
	border: 3px solid;
	border-color: #ffffff;
    text-align: center;
}


tr:hover {background-color: white;}